{{ script('vendor-script.min.js') }}
{{ script('custom-script.min.js') }}

<script src="{{ assetsUrl('vendor-script.min.js') }}" type="text/javascript" defer></script>
<script src="{{ assetsUrl('custom-script.min.js') }}" type="text/javascript" defer></script>
