
    <script src="http://localhost/source/jquery/jquery-3.4.1.js"></script>
    <script src="http://localhost/doc/bs4/assets/js/vendor/popper.min.js"></script>
    <script src="http://localhost/doc/bs4/dist/js/bootstrap.js"></script>
  </body>
</html>
