<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Hello Adonis</title>
    {{ style("jumbotron") }}
    {{ style("style.css") }}
    @!section('before-scripts')
      @include('partials.common-scripts')
    @!section('after-scripts')
  </head>
  <body>
    @include('partials.navbar')

    <main role="main">
      @!section('main')
    </main>

    <footer class="container">
    @include('partials.footer')
    </footer>
    @include('partials.script')
  </body>
</html>
